footer
{
    /* background-color: #218838; */ /* Footer Arkaplanı */
    color: white;
    padding: 20px 0; /* Yüksekliği azaltmak için padding'i düzenledim */
    text-align: center;
    margin-top: auto; /* Footer'ı sayfanın en altına yapıştırır */
    display: flex;
    align-items: center;
}

footer .d-flex {
    height: 100%; /* Logo ve sosyal ikonları dikeyde ortalamak için */
}

footer .footer-logo {
    max-width: 50px; /* Logo boyutunu istediğin gibi ayarlayabilirsin */
}

footer .social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer .social-icons a:hover {
    color: #ffc107; /* Hover rengi sarı */
}

footer .contact-info p {
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 1rem;
    line-height: 1.5;
}
